[submodule "libkoliba"]
	path = libkoliba
	url = https://github.com/Pantarheon/libkoliba
[submodule "freliba"]
	path = freliba
	url = https://github.com/Pantarheon/freliba
[submodule "python"]
	path = python
	url = https://github.com/Pantarheon/koliba-python
